body {
	color: #ffffff;
	font-family:Monospace;
	font-size:18px;
	text-align:center;
	font-weight: bold;
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
	cursor: url('/media/cursors/lemon.cur'), default;
}

#container{
	position: absolute;
	height:100%;
	width:100%;
	z-index:0;
	top:0 px;
	cursor: url('/media/cursors/lemon.cur'), default;
}
#content{
	display: block;
	width:100%;	
	margin-top: 5%;
	position: absolute;
	text-align:center;
	z-index:1;
	cursor: url('/media/cursors/lemon.cur'), default;
}

a {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 6px solid #ff9e30;
	cursor: url('/media/cursors/lemon.cur'), default;
}
a:hover { 
	cursor: url('/media/cursors/lemon.cur'), default;
    background-color: #AD42F4;
}

#oldie a {
	color:#da0;
	cursor: url('/media/cursors/lemon.cur'), default;
}