body,
html {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #000000;
    background: rgba(255, 0, 128, 0.9);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/fallsedited.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #mainNav {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #000;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: #F05F40;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  }

  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #000;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      padding: 0.5rem 1rem;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
      color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #000;
    }
    #mainNav.navbar-shrink {
      border-bottom: 1px solid rgba(33, 37, 41, 0.1);
      background-color: #000;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: #F05F40;
    }
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
      color: #f05f40;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
      color: #212529;
    }
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #F05F40;
    }
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.btn-primary {
    background-color: #F05F40;
    border-color: #F05F40;
    color: #000;

    -webkit-animation-name: rainbowbutton; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: rainbowbutton;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #F05F40;
    background-color: #000 !important;
  }


  @font-face {
    font-family: "One Two Trees";
    src: url("./fonts/CFOneTwoTrees-Regular.ttf");
    src: 
    url("./fonts/CFOneTwoTrees-Regular.woff") format("woff"),
    url("./fonts/CFOneTwoTrees-Regular.otf") format("opentype"),
    url("./fonts/CFOneTwoTrees-Regular.eot") format("eot"),
    url("./fonts/CFOneTwoTrees-Regular.svg") format("svg");
    }

    header.masthead h1 {
      font-size: 5rem;
      font-family: 'One Two Trees', Arial, sans-serif;
  }

  
  .animated-text {
    color: red;
    -webkit-animation-name: rainbowtext; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: rainbowtext;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin: 0px;
    padding: 0px;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes rainbowtext {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }
  
  /* Standard syntax */
  @keyframes rainbowtext {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
  }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes rainbowbutton{
      0%   {background-color: red;}
      25%  {background-color: yellow;}
      50%  {background-color: blue;}
      100% {background-color: green;}
    }
    
    /* Standard syntax */
    @keyframes rainbowbutton {
      0%   {background-color: red;}
      25%  {background-color: yellow;}
      50%  {background-color: blue;}
      100% {background-color: green;}
    }

      /* Safari 4.0 - 8.0 */
      @-webkit-keyframes rainbowbutton2{
        0%   {background-color: blue;}
        25%  {background-color: green;}
        50%  {background-color: red;}
        100% {background-color: yellow;}
      }
      
      /* Standard syntax */
      @keyframes rainbowbutton2 {
        0%   {background-color: blue;}
        25%  {background-color: green;}
        50%  {background-color: red;}
        100% {background-color: yellow;}
      }